[flake8]
# See https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#line-length for more details.
max-line-length = 80
extend-ignore = E203, E501
max-complexity = 10
select = B,C,E,F,W,T4,B9
