# Python
__pycache__/
__pypackages__/
*.egg-info/
dist/
.pdm.toml

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Secrets
.env
